@import "tailwindcss";

:root {
  /* --background: #DAE0F5; */
  --primary: #000B40;
  --secondary: #ffd12a;
}



body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: #D1D5F5; */
  
}
